@import 'common.css';

body {
    padding: 1%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    margin: 30px auto;
}

.wrap {
    display: flex;
    align-items: center;
}