@import 'common.css';
@import 'header.css';

.container .jumbotron {
    border-radius: 6px;
    padding: 30px 130px;
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .jumbotron {
        padding: 48px 0;
    }
}

.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
