@import 'common.css';
@import 'header.css';

.content-container {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 10px auto 30px;

  font-weight: bold;
  user-select: none;
  cursor: pointer;
}

div.search {
  display: flex;
  margin-bottom: 1%;
}

button#search {
  width: 6rem;
}

tr.table_row {
  cursor: pointer;
}
