<html lang='ko'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>관리자 페이지</title>
    <link rel='stylesheet' href='/css/manage.css' />
    <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor'
      crossorigin='anonymous'
    />
  </head>
  <body>
    <div class='header'>
      관리자 페이지
    </div>
    <div class='wrap'>
      <div class='container'>
        <div class='card h-100 left_box'>
          <div class='card-body'>
            <h5 class='card-title'>직원 관리</h5>
            <p class='card-text'>직원을 조회하고 관리합니다.</p>
          </div>
          <a href='/staffs' class='btn btn-primary'>조회</a>
        </div>
        <div class='card h-100 right_box'>
          <div class='card-body'>
            <h5 class='card-title'>고객사 관리</h5>
            <p class='card-text'>고객사를 조회하고 관리합니다.</p>
          </div>
          <a href='/clients' class='btn btn-primary'>조회</a>
        </div>
      </div>
    </div>
  </body>
</html>